<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>Issue Tracker</h1>
    </header>
    <div id="userstories">
      <ol>
        <li>The <b>POST</b> form data requires <i>issue_title</i>, <i>issue_text</i>, <i>created_by</i>. <i>Assigned_to</i> and <i>status_text</i> are optional.</li>
        <li>The object saved (and returned) includes all of those fields (blank for optional no input), and also includes <i>created_on</i> (date/time), <i>updated_on</i> (date/time), <i>open</i>(boolean, true for open, false for closed), and <i>_id</i>.</li>
        <li><b>PUT</b> <code>/api/issues/{projectname}</code> with an issue <i>_id</i> and any fields that apply to the object. "Successfully updated" or "could not update "+_id is returned. This request also updates <i>updated_on</i>. If no fields are sent, "no updated field sent" is returned.</li>
        <li><b>DELETE</b> <code>/api/issues/{projectname}</code> with an issue <i>_id</i> to completely delete an issue object.</li>
        <li><b>GET</b> <code>/api/issues/{projectname}</code> for an array of all issues on that specific project with all the information for each issue as was returned when posted.</li>
        <li>Filter the GET request by passing along any field and value in the query(ie. <code>/api/issues/{project}?open=false</code>). You can pass along as many fields/values as you want.</li>
      </ol>
      <br>
      <h3>Example get usage:</h3>
      <code>/api/issues/{project}</code><br>
      <code>/api/issues/{project}?open=true&amp;assigned_to=Alex</code><br>
      <h3>Example return:</h3>
      <code>[{"_id":"5871dda29faedc3491ff93bb","issue_title":"Fix error in posting data","issue_text":"When we post data it has an error.","created_on":"2017-01-08T06:35:14.240Z","updated_on":"2017-01-08T06:35:14.240Z","created_by":"Joe","assigned_to":"Joe","open":true,"status_text":"In QA"},...]</code>
      <br><br>
      <h2><a href="/apitest/">EXAMPLE: Go to <i>/apitest/</i> project issues</a></h2>
    </div>
    <hr>
    
    <h2>API Tests:</h2>
    <div id="testui">
      <div>
        <h3>Submit issue on <i>apitest</i></h3>
        <form id="testForm" class="border">
          <input type="text" name="issue_title" placeholder="*Title" required><br>
          <textarea type="text" name="issue_text" placeholder="*Text" required></textarea><br>
          <input type="text" name="created_by" placeholder="*Created by" required><br>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
          <input type="text" name="status_text" placeholder="(opt)Status text"><br>
          <button type="submit">Submit Issue</button>
        </form><br>
      </div>
      <div>
        <h3>Update issue on <i>apitest</i></h3>
        <form id="testForm2" class="border">
          <input type="text" name="_id" placeholder="*_id" required><br>
          <input type="text" name="issue_title" placeholder="(opt)Title"><br>
          <textarea type="text" name="issue_text" placeholder="(opt)Text"></textarea><br>
          <input type="text" name="created_by" placeholder="(opt)Created by"><br>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
          <input type="text" name="status_text" placeholder="(opt)Status text"><br>
          <label><input type="checkbox" name="open"> Check to close issue</label><br>
          <button type="submit">Submit Issue</button>
        </form><br>
      </div>
      <div>
        <h3>Delete issue on <i>apitest</i></h3>
        <form id="testForm3" class="border">
          <input type="text" name="_id" placeholder="_id" required><br>
          <button type="submit">Delete Issue</button>
        </form>
      </div>
    </div>
    
    <hr>
    <code id="jsonResult"></code>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>
  </body>
</html>
